<%- include('base/header') -%>

<header class="header" id="inicio">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="text-danger font-weight-bold"> Pizzeria </span> La Delizia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Menú">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#inicio">Inicio</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#sobre-nosotros">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#menu">Menú</a></li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#reserva">¡Llama ahora! 331 234 5678 <span class="reserve"> Reservar Pedido</span></a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/users/profile">Perfil <img src="<%= '/img/' + user.avatar %>" class="rounded-circle" style="width: 32px;height: 30px;" alt="avatar"></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #0d122fa3;height: 100%;">
    <div class="m-5" style="position: relative;top: 8vw;">
      <p class="display-2 lead text-white text-center" style="border-bottom:1px solid #dc3545;">La <span class="text-danger font-weight-bold">Delizia</span></p>
      <p class="lead text-white text-center">Auténtica pizza artesanal desde nuestro horno hasta tu mesa</p>
    </div>
  </div>
</header>

<section id="sobre-nosotros" class="m-5">
  <div class="container">
    <div class="row bg-white">
      <div class="col-lg-6 mx-auto mt-3">
        <h4 class="m-3">Tradición italiana, sabor inigualable</h4>
        <p class="parag text-left m-3">En La Delizia, cada pizza es una obra de arte. Utilizamos ingredientes frescos y recetas tradicionales napolitanas.</p>
        <p class="parag text-left m-3">Nuestra pasión por la pizza se refleja en cada rebanada. ¡Ven y disfruta de una experiencia culinaria auténtica!</p>
      </div>
      <div class="col-lg-6 mx-auto">
        <img src="img/about.jpg" class="card-img-top" alt="Acerca de La Delizia">
      </div>
    </div>
  </div>
</section>

<section id="chefs" class="m-5">
  <div class="container">
    <div class="row bg-white">
      <div class="col-lg-12 mx-auto mb-2">
        <h4 class="text-center mt-4">Nuestras Pizzas</h4>
        <p class="card-text text-center"><small class="text-muted">Pasión, tradición y sabor</small></p>
        <div class="card-group">
          <% const chefNames = ['4 Quesos', 'Jamon Serrano', 'Meat Lover', 'Supreme', 'Hawaiana']; %>
          <% chefNames.forEach((chef, index) => { %>
            <div class="card m-2 hovereffect">
              <img src="sys/chef-<%= index+1 %>.jpg" class="card-img-top" alt="<%= chef %>">
              <div class="overlay">
                <!--h2><%= chef %></h2>
                <a class="info" href="#">Ver perfil</a -->
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="menu" class="m-5">
  <div class="container">
    <div class="row bg-white">
      <div class="col-lg-12 mx-auto">
        <h4 class="text-center mt-4">Nuestro Menú</h4>
        <p class="card-text text-center"><small class="text-muted">Pizzas, bebidas y más</small></p>
        <div class="col-lg-12 mx-auto mt-3">
          <div class="d-flex flex-wrap justify-content-center">
            <% pizzas.forEach((pizza, index) => { %>
            <div class="card m-3 shadow" style="width: 18rem;">
              <img src="/<%= pizza.Image %>" class="card-img-top" alt="<%= pizza.Name %>">
              <div class="card-body">
                <h5 class="card-title text-center"><%= pizza.Name %></h5>
                <p class="card-text text-center"><%= pizza.Description %></p>
                <p class="text-center font-weight-bold text-danger">$<%= pizza.Price %></p>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="reserva" class="bg-white">
  <hr>
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm">
        <h4 class="mb-3">Encuéntranos</h4>
        <p class="parag text-left">Av. Sabores Italianos 123</p>
        <p class="parag text-left">Colonia Centro, Guadalajara</p>
        <p class="parag text-left">Jalisco, México</p>
      </div>
      <div class="col-sm">
        <h4 class="mb-3">Horario</h4>
        <p class="parag text-left">Lunes a Jueves: Cerrado</p>
        <p class="parag text-left">Viernes: 5:00 PM - 10:00 PM</p>
        <p class="parag text-left">Sábado y Domingo: 14:00 PM - 10:00 PM</p>
      </div>
      <div class="col-sm">
        <h4 class="mb-3">Reservaciones</h4>
        <p class="parag text-left">Tel: 331 234 5678</p>
        <p class="parag text-left">Email: pizzeria.delizia.italiana@gmail.com</p>
        <p class="parag text-left">Instagram: @ladeliziapizza</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p class="m-5 parag text-center">© <%= new Date().getFullYear() %> La Delizia. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

<%- include('base/footer') -%>